<md-button href="/#/project_list" class="md-raised md-primary"> Project List </md-button>
<hr/>
<!--<div ng-controller="projectQuestionsController" ng-repeat="p in projectModel">
<!--  <question-panel header="Ease of Use" field-one="Usability" field-one-model="project.ease.usability" field-two="Web Accessibility" field-two-model="project.ease.webaccess" comment-model="project.ease.comment"> </question-panel> 
    
    <question-panel project-model="p"></question-panel>
</div> -->

<!---------------- Ease of Use ------------------------>
<h4> Ease of Use</h4>
<i>Please rate the below criteria. 1 is low and 4 is high</i>
<br>
<br>
<div class="form-group row">
<label class="col-sm-2 form-control-label"><md-tooltip md-direction="top">  How simple is the application to use and navigate? </md-tooltip> Usability</label>
<!--<div class="col-sm-10">
    <label class="radio-inline"> <input type="radio" ng-model='project.ease.usability' value="1" />1 </label>
    <label class="radio-inline"><input type="radio" ng-model='project.ease.usability' value="2" />2 </label>
    <label class="radio-inline"><input type="radio" ng-model='project.ease.usability' value="3" />3 </label>
    <label class="radio-inline"><input type="radio" ng-model='project.ease.usability' value="4" />4 </label>
    <label class="radio-inline"><input type="radio" ng-model='project.ease.usability' value="N/A"/>N/A </label>
</div> -->
    <div class="col-sm-10">
    <md-radio-group ng-model="project.usability">
        <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
        <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
        <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
        <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
        <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
    </md-radio-group>
    </div>
</div>

<div class="form-group row">
<label  class="col-sm-2 form-control-label"> <md-tooltip md-direction="top"> If the app is a web application, does it function well in your browser? </md-tooltip> Web Accessibility</label>
        <div class="col-sm-10">
            <md-radio-group ng-model="project.web_accessibility">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="comment" class="col-sm-2 form-control-label">Additional Comment:</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="comment" ng-model="project.usability_comment"></textarea>
    </div>
</div>

<!---------------- Relevance ------------------------>

<hr/>
<h4> Relevance </h4>
<i>Please rate the below criteria. 1 is low and 4 is high</i>
<br>
<br>
<div class="form-group row">
<label class="col-sm-2 form-control-label"> <md-tooltip md-direction="top">  Does the application content capture all the requested requirements? </md-tooltip> Content</label>
    
    <div class="col-sm-10">
            <md-radio-group ng-model="project.content">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
    </div>

</div>
<div class="form-group row">
<label  class="col-sm-2 form-control-label"><md-tooltip md-direction="top"> Is the application customized to your needs? </md-tooltip>Customization</label>
        <div class="col-sm-10">
            <md-radio-group ng-model="project.customization">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
    </div>
    
</div>

<div class="form-group row">
    <label for="comment" class="col-sm-2 form-control-label">Additional Comment:</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="comment" ng-model="project.relevance_comment"></textarea>
    </div>
</div>

<!---------------- Performance ------------------------>

<hr/>
<h4> Performance </h4>
<i>Please rate the below criteria. 1 is low and 4 is high</i>
<br>
<br>
<div class="form-group row">
<label class="col-sm-2 form-control-label"><md-tooltip md-direction="top"> Is the application quick and responsive? </md-tooltip>Speed</label>
        <div class="col-sm-10">
            <md-radio-group ng-model="project.speed">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
    </div>

</div>
<div class="form-group row">
<label  class="col-sm-2 form-control-label"><md-tooltip md-direction="top">  Is the application always available to use when you want to? </md-tooltip>Availability</label>
    
        <div class="col-sm-10">
            <md-radio-group ng-model="project.availability">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
    </div>
</div>

<div class="form-group row">
    <label for="comment" class="col-sm-2 form-control-label">Additional Comment:</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="comment" ng-model="project.performance_comment"></textarea>
    </div>
</div>


<!---------------- Design ------------------------>

<hr/>
<h4> Design </h4>
<i>Please rate the below criteria. 1 is low and 4 is high</i>
<br>
<br>
<div class="form-group row">
<label class="col-sm-2 form-control-label"><md-tooltip md-direction="top"> Is the application aesthetically pleasing? </md-tooltip>Visual</label>
        <div class="col-sm-10">
            <md-radio-group ng-model="project.visual">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
        </div>
</div>


<div class="form-group row">
<label  class="col-sm-2 form-control-label"><md-tooltip md-direction="top"> Does the application's look and feel stand out? </md-tooltip>Style</label>
    
        <div class="col-sm-10">
            <md-radio-group ng-model="project.style">
                <md-radio-button value="1"  ng-style="{'display':'inline'}">1</md-radio-button>
                <md-radio-button value="2" ng-style="{'display':'inline'}"> 2 </md-radio-button>
                <md-radio-button value="3"  ng-style="{'display':'inline'}">3</md-radio-button>
                <md-radio-button value="4"  ng-style="{'display':'inline'}">4</md-radio-button>
                <md-radio-button value="N/A"  ng-style="{'display':'inline'}">N/A</md-radio-button>
            </md-radio-group>
    </div>
</div>

<div class="form-group row">
    <label for="comment" class="col-sm-2 form-control-label">Additional Comment:</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="comment" ng-model="project.design_comment"></textarea>
    </div>
</div>

<hr/>
<br>
<div class="form-group row">
   <!-- <input type="submit" class="form-control-label btn btn-primary" ng-click=submit() value="Submit"> -->
    <md-button class="md-raised md-primary" ng-click=submit()>Submit </md-button>
</div>
<pre>
{{ project|json}}
</pre>